@model IEnumerable<PopcornTime_2._0.Models.FavoriteList>

@{
    ViewBag.Title = "MyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PopcornTime_2._0.Models



<head>
    header ses her
</head>

@*<select>
        <option>
        @Html.DisplayNameFor(model => model.Name)
        </option>
    </select>*@

@*@foreach (var item in Model)
    {
        <select>
            <option>
                @Html.DisplayFor(ModelItem => item.Name)
            </option>
        </select>

    }*@


<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Go to", "Movie2", "Home", new { id = item.Id })
                </td>
            </tr>

        }

    </table>

    @*<partial name="~/Views/Home/MyListPartialView.cshtml" />*@
    @*<Html.RenderPartial name="~/Views/Home/MyListPartialView.cshtml" />*@

    @{
        //Html.RenderPartial("MyListPartialView", System.Collections.Generic.IEnumerable`1[PopcornTime_2._0.Models.Entertainment]);
    }
    @*<div class="container body-content">
        @RenderBody()

    </div>*@
</body>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>*@
@*<th>
        @Html.DisplayNameFor(model => model.ReleaseDate)
    </th>*@
@*<th>
        @Html.DisplayNameFor(model => model.StoryLine)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.FilmingLocation)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Information)
    </th>*@
@*<th></th>
    </tr>*@

@*<div>
    <ul class='dropdown'>
        <li id="top">
            <a href='index.html'>Dropdown</a>
            <span></span>
            <ol class="dropdown-box">
                @*foreach()*@
@*@



    @Html.DropDownListFor(m => m.StudentGender,
    new SelectList(Enum.GetValues(typeof(Gender))),
    "Select Gender")*@


@*FindAllfavoriteListByid skal sættes ind i dropdown*@

@*findallEntertainmentsByListId skal tage id fra favorit list og vise alle entertainments i den liste*@


